@media (max-width: 1200px)
  .go-top
    right: 20px
    bottom: 20px
    opacity: 0.7

@media (max-width: 960px)
  .break-960
    display: none

@media (max-width: 940px)
  .header-top
    .header-top__bookmark::before,
    .header-top__cart::before
      display: none

    .header-top__item
      padding-left: 0
  .header-mid
    .header-mid__main
      max-width: 590px

  .promo
    .promo-card
      width: 100%

    .promo__slider
      width: 100%

  .promo
    .promo-card
      &::before
        left: 65%

  .services-slider
    .services-slider__buttons
      max-width: 25.5%

    .services-slider__descriptions
      margin-left: 20px

  .footer-top
    display: block
    .footer-top__right-side
      display: flex
      margin: 0
      .footer-top__address
        .footer-top__paragraph
          margin: 0
          padding: 10px 0 0 20px
    .footer-top__nav
      .footer-top__list
        max-width: 100%
        .footer-top__item
          .footer-top__link,
          .footer-top__link_yellow
            padding: 0 20px

  .footer-bot
    .footer-bot__social
      margin-right: 80px

  .sort
    .sort__form
      .sort__list
        .sort__item
          .sort__label
            white-space: nowrap

      .sort__dir
        margin-left: 20px

  .search
    .search__icon
      left: 7px
    .search__input[placeholder]
      padding-left: 32px

@media (max-width: 870px)
  .header-mid
    flex-wrap: wrap
    min-height: 120px
    .header-mid__info
      .header-mid__paragraph
        padding: 10px 5px 0 5px
        display: block
        margin: 0

    .header-mid__main
      max-width: 100% !important

    .header-mid__contact
      margin-left: 0
      margin-right: 10px
      max-width: 500px
      .header-mid__address
        padding: 0
        .header-mid__phone
          padding: 0
          &::before
            left: 10px

    .header-user
      max-width: 500px
      .header-user__unauthorized
        justify-content: flex-end
        .header-user__button-login
          max-width: 150px
          margin-left: 0

        .header-user__button-register
          max-width: 300px


  .header-user__button-user
    max-width: 500px !important

  .header-nav
    margin-top: 30px

  .promo
    .promo-card
      .promo-card__heading,
      .promo-card__link
        margin-left: 10px

  .popular-goods
    .goods-list
      grid-template-columns: 1fr 1fr 1fr
      .goods-list__item
        max-width: 300px
        .goods-list__buttons
          .goods-list__button
            margin-left: 0
            max-width: 100%

  .popular-makers
    .popular-makers__list
      grid-template-columns: 1fr 1fr 1fr
      .popular-makers__item
        max-width: 100%

  .slider
    .slider__list
      .slider__slide
        .slider__link
          position: absolute
          left: 10px
          width: 31%

  .about-contacts
    display: block
    .about-contacts__about
      .about-contacts__list
        display: flex
        justify-content: space-between
        max-width: 80%

      .about-contacts__link
        max-width: 300px

    .about-contacts__contacts
      margin-top: 70px
      max-width: 100%
      position: relative
      .about-contacts__map-img
        position: absolute
        top: -10px
        left: calc(100% - 310px)

      .about-contacts__write-button
        margin-top: 67px

  .break-870
    display: none

  .footer-top
    .footer-top__nav
      .footer-top__list
        .footer-top__item
          .footer-top__link,
          .footer-top__link_yellow
            padding: 0 15px

  .footer-bot
    .footer-bot__social
      margin-right: 60px
    .footer-bot__feedback
      margin-right: 30px
    .footer-bot__developed

  .sort
    .sort__form
      margin-left: 10%

  .catalog__cards
    grid-template-columns: 1fr 1fr
    .goods-list__item
      width: 100%
      max-width: 400px

@media (max-width: 800px)
  .header-nav
    .header-nav__list
      .header-nav__item:first-child
        .header-nav__link
          padding-left: 10px
      .header-nav__item:last-child
        .header-nav__link
          padding-right: 10px
  .promo
    .promo-card
      &::before
        display: none

    .promo-card
      .promo-card__heading,
      .promo-card__link
        margin-left: 23px

  .popular-goods
    .goods-list
      grid-template-columns: 1fr 1fr
      .goods-list__item
        width: 100%
        max-width: 400px

  .footer-bot
    .footer-bot__social
      margin-right: 40px

  .sort
    flex-wrap: wrap
    .sort__form
      margin-left: 19px
      .sort__dir
        margin-bottom: 6px


@media (max-width: 760px)
  .services-slider
    display: block
    .services-slider__buttons
      max-width: 100%
      display: flex
      &::before
        display: none

      li
        width: 100%

      .services-slider__button
        text-align: center
        padding: 0

    .services-slider__descriptions
      width: 97%

  .footer-top
    .footer-top__nav
      .footer-top__list
        column-gap: 55px
        .footer-top__item
          .footer-top__link,
          .footer-top__link_yellow
            padding: 5px

  .footer-bot
    flex-wrap: wrap
    .footer-bot__social
      margin: 0
      width: 100%
      max-width: 740px
      order: 1
      .footer-bot__list
        max-width: 100%
        display: flex
        justify-content: center
        padding-bottom: 10px

@media (max-width: 705px)
  .header-top
    .header-top__bookmark,
    .header-top__cart
      max-width: 85px

@media (max-width: 680px)
  .header-nav
    margin-top: 15px
    .header-nav__list
      flex-wrap: wrap
      .header-nav__item
        .header-nav__link
          padding: 0 33px !important

  .popular-makers
    .popular-makers__head
      .popular-makers__link
        width: 150px
        min-width: 150px

  .about-contacts
    .about-contacts__about
      .about-contacts__list
        display: block

    .about-contacts__contacts
      margin-top: 70px
      max-width: 100%
      position: sticky
      .about-contacts__map-img
        position: static
        margin-top: 17px

      .about-contacts__write-button
        margin-top: 27px

  .catalog__cards
    grid-template-columns: 1fr

@media (max-width: 640px)
  .header-mid
    .header-mid__contact
      margin-top: 0
      .header-mid__address
        .header-mid__location
          font-size: 13px
          margin-left: -1px
          margin-right: -1px

    .header-user
      .header-user__authorized
        .header-user__bot
          padding: 0 10px

  .header-main
    .header-mid
      .header-mid__info
        .header-mid__paragraph
          font-size: 14px

  .header-top_750
    display: block
    height: 47px
    background-color: #EE3643
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24)

  .header-top__logo-img
    display: none
  .header-nav
    .header-nav__list
      .header-nav__item
        .header-nav__link
          line-height: 45px
          height: 45px
          padding: 0 25px

  .promo
    grid-template-columns: 1fr 1fr
    .promo-card
      max-width: 620px
      &::before
        display: block
      &:last-child
        &::before
          left: 82%
  .promo-card:last-child
    grid-column: 1 / -1 !important

  .popular-makers
    .popular-makers__list
      grid-template-columns: 1fr 1fr

    .popular-makers__head
      .popular-makers__heading
        padding-top: 30px
        font-size: 28px

  .footer-top
    .footer-top__nav
      .footer-top__list
        max-width: 549px
        column-gap: 20px

  .sort
    .sort__form
      flex-wrap: wrap
      .sort__list
        margin-top: 10px
        .sort__item
          .sort__label
            margin-top: 1.5px
      .sort__dir
        margin-left: 0

@media (max-width: 600px)
  .promo
    .promo-card
      .promo-card__heading
        margin-left: 10px

      .promo-card__link
        margin-left: 10px
        width: 110px
        padding: 11px 5px

      &::before
        left: 60%
      &:last-child
        &::before
          left: 80%

  .block-heading
    padding-left: 10px
  .block-link
    right: 10px

  .popular-makers
    .popular-makers__head
      .popular-makers__heading
        padding-top: 31px
        font-size: 26px

  .services-slider
    .services-slider__descriptions
      margin-left: 0

  .footer-top
    .footer-top__right-side
      display: block
      .footer-top__address
        .footer-top__paragraph
          padding-left: 0

  .footer-bot
    .footer-bot__license
      width: 100%
      max-width: 600px
      order: 1

    .footer-bot__social
      order: 2
      margin: 0
      margin-right: auto
      width: 100%
      max-width: 180px
      .footer-bot__list
        justify-content: flex-start

    .footer-bot__feedback
      margin-right: 20px
      order: 3

    .footer-bot__developed
      order: 4

  .break-600
    display: none

  .pagination
    .pagination__item_next
      width: 100%
      max-width: 90px
      margin-right: 0

  .modal-cart
    .modal-cart__paragraph
      padding-left: 40px
      &::before
        left: 11%

@media (max-width: 560px)
  .sort
    .sort__heading
      padding-left: 10px
    .sort__form
      margin-left: 10px
      .sort__list
        .sort__item
          .sort__label
            text-transform: none

@media (max-width: 540px)
  .header-mid
    .header-mid__contact
      .header-mid__address
        .header-mid__location
          font-size: 12px

    .header-user
      .header-user__unauthorized
        .header-user__button-login
          &::before
            left: 10px

  .block-link
    width: 165px
    min-width: 165px

  .popular-goods
    .goods-list
      .goods-list__item
        .goods-list__buttons
          .goods-list__button
            margin-left: -3px
            max-width: 135px

  .popular-makers
    .popular-makers__head
      .popular-makers__link
        width: 135px
        min-width: 135px

      .popular-makers__heading
        font-size: 24px

  .services-slider
    .services-slider__descriptions
      .services-slider__description
        .services-slider__paragraph
          max-width: 240px

  .break-540
    display: none

@media (max-width: 510px)
  .footer-top
    .footer-top__nav
      .footer-top__list
        column-gap: 15px
