html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

.visually-hiden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  clip: rect(0 0 0 0)
  overflow: hidden

.container
  max-width: 960px
  padding-right: 10px
  padding-left: 10px
  margin: 0 auto

ul
  list-style: none

a
  text-decoration: none

img
  max-width: 100%
  height: auto

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration
  display: none
input[type=text]::-ms-clear,
input[type=text]::-ms-reveal
  display: none
  width : 0
  height: 0

// MIXINS
// mixin for bookmark and cart (header top)
@mixin bookcart-before ($back-img: url(../images/header/icon-bookmark.svg))
  content: ""
  background-image: $back-img
  background-repeat: no-repeat
  background-position: 0 0
  position: absolute
  left: 20px
  top: 12.5px
  width: 14px
  height: 16px
  opacity: 0.3

@mixin img-before
  position: absolute
  content: ""
  background-color: transparent

@mixin img-card ($img-card-h, $img-card-w, $img-card-t, $img-card-l)
  height: $img-card-h
  width: $img-card-w
  top: $img-card-t
  left: $img-card-l
  content: ""
  position: absolute
  background-position: 0 0
  background-repeat: no-repeat

@keyframes bounce
  0%
    transform: translateY(-3000px)
  60%
    transform: translateY(20px)
  85%
    transform: translateY(-12px)
  100%
    transform: translate(0)

@keyframes shake
  0%, 100%
    transform: translateX(0)
  10%, 30%, 50%, 70%, 90%
    transform: translateX(-10px)
  20%, 40%, 60%, 80%
    transform: translateX(10px)

@keyframes go-top
  0%
    top: 23px
  25%
    top: 18px
  50%
    top: 25px
  75%
    top: 18px
  100%
    top: 23px

@keyframes hide-filter
  0%
    margin-top: -7px
  30%
    margin-top: 7px
  75%
    margin-top: -4px
  100%
    margin-top: 0

@keyframes hide-filter
  0%
    margin-top: -7px
  30%
    margin-top: 7px
  75%
    margin-top: -4px
  100%
    margin-top: 0

@keyframes slide-show_prev
  0%
    left: -620px
  100%
    left: 0

@keyframes slide-show_next
  0%
    right: -620px
  100%
    right: 0
