@import "special.sass"

:root
  --backgrond-light: #F1F5F7
  --backgrond-dark: #293449
  --basic-grey: #32425C
  --white: #FFFFFF
  --basic-greylight: #C5C5C5
  --filter-background: #F7F3EC

  --basic-red: #EE3643
  --dark-red: #BA2732

  --basic-heading: #F9F5F0
  --basic-green: #63A63E

body
  margin: 0
  padding: 0
  font-family: "Cuprum"

.button
  text-decoration: none
  font-family: "Cuprum"
  font-weight: 400
  font-style: normal
  font-size: 14px
  text-transform: uppercase
  line-height: 18px
  text-align: center
  padding-top: 11px
  width: 100%
  max-width: 192px
  height: 38px
  color: var(--white)
  background: var(--basic-red)
  &:focus,
  &:hover
    background-color: #CA2C37
  &:active
    background-color: var(--dark-red)

.header
  width: 100%
  min-height: 320px
  font-weight: normal
  font-style: normal

// Header top
.header-top-back
  width: 100%
  background-color: var(--backgrond-dark)

// Media
.header-top_750
  display: none

.header-top
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 100%
  max-width: 940px
  height: 42px

  .header-top__link
    min-height: 47px
    min-width: 220px

  .header-top__logo-img
    height: 47px
    width: 100%
    max-width: 220px

  .header-top__bookmark,
  .header-top__cart
    position: relative
    padding-left: 17px

  .header-top__cart
    padding-left: 21px

  .header-top__bookmark::before
    +bookcart-before ($back-img: url(../img/header/icon-bookmark.svg))

  .header-top__cart::before
    +bookcart-before ($back-img: url(../img/header/icon-cart.svg))
    left: 26px
    top: 13px
    width: 15px
    height: 15px

  .header-top__cart:active,
  .header-top__bookmark:active
      background-color: #161D29
      color: rgba(255, 255, 255, 0.5)

  .header-top__cart:hover::before,
  .header-top__cart:focus::before,
  .header-top__bookmark:hover::before,
  .header-top__bookmark:focus::before
    opacity: 1

  .header-top__cart:active::before,
  .header-top__bookmark:active::before
    opacity: 0.3

  .header-top__item,
  .header-top__place-order
    width: 100%
    max-width: 150px
    text-align: center
    padding-top: 10px

  .header-top__bookmark_active,
  .header-top__cart_active
    background-color: var(--basic-red)
    &:active
      background-color: #DE303D

  .header-top__place-order
    background-color: var(--basic-green)
    &:hover,
    &:focus
      background-color: #5FBB2D
    &:active
      color: rgba(255, 255, 255, 0.5)
  .header-top__search

  a
    color: var(--white)
    font-size: 18px
    line-height: 24px

// Search (header top)
.search
  width: 100%
  max-width: 271px
  position: relative

  .search__icon
    +img-before
    width: 17px
    height: 17px
    top: 12px
    left: 17px
    z-index: 1
    path
      opacity: 0.3

  &:focus .search__icon path,
  &:hover .search__icon path
    opacity: 1

  .search__input
    position: relative

  .search__input[placeholder]
    width: 100%
    max-width: 271px
    height: 42px
    border: none
    padding-left: 42px
    outline: none
    border: none
    background-color: transparent
    font-size: 18px
    line-height: 24px

  .search__input:focus
    background-color: #FFFFFF

  .search__input:focus .search__icon path
    fill: var(--basic-red)
    opacity: 1

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration
    display: none
  input[type=text]::-ms-clear,
  input[type=text]::-ms-reveal
    display: none
    width : 0
    height: 0

.search__input[placeholder]::-webkit-input-placeholder
  color: #FFF

.header-main
  min-height: 278px
  background-color: var(--backgrond-light)

.header-mid
  min-height: 158px
  display: flex
  justify-content: space-between
  align-items: center
  .header-mid__main
    display: flex
    width: 100%
    max-width: 620px
    justify-content: space-between

  .header-mid__info
    .header-mid__paragraph
      padding-left: 30px
      font-style: italic
      font-size: 16px
      line-height: 24px
      color: var(--basic-red)

  .header-mid__contact
    margin: 4px 0 0 0
    flex-grow: 1
    width: 100%
    max-width: 270px

    .header-mid__address
      .header-mid__phone
        padding-left: 27px
        margin: 0
        font-style: normal
        font-weight: bold
        font-size: 21px
        line-height: 38px
        border: 3px solid #FFFFFF
        position: relative
        color: var(--basic-red)
        text-align: center

        &::before
          +img-before
          background-image: url(../img/header/icon-phone.svg)
          background-repeat: no-repeat
          background-position: 0 0
          left: 36px
          top: 10px
          width: 19px
          height: 19px

      .header-mid__location
        margin: 7px 0 0 0
        font-size: 14px
        font-style: normal
        text-align: center

  .header-user
    width: 100%
    max-width: 299px
    display: flex
    flex-grow: 1
    align-items: center
    justify-content: space-between

    .header-user__unauthorized
      flex-grow: 1
      display: none
      justify-content: flex-end

      .header-user__button-register,
      .header-user__button-login
        margin-bottom: 20px
        width: 100%
        max-width: 150px
        margin-left: 10px
        height: 45px
        border: 0
        outline: none
        background-color: #FFFFFF
        font-family: "Cuprum"
        font-size: 21px
        line-height: 21px
        cursor: pointer
        &:focus,
        &:hover
          color: var(--basic-red)
        &:active
          color: var(--basic-greylight)

      .header-user__button-login
        max-width: 121px
        padding-left: 24px
        position: relative
        &::before
          +img-before
          background-image: url(../img/header/icon-login.svg)
          width: 20px
          height: 17px
          top: 14px
          left: 19px
        &:focus::before,
        &:hover::before
          background-image: url(../img/header/icon-login-hover.svg)

        &:active::before
          background-image: url(../img/header/icon-login.svg)

    .header-user__authorized
      flex-grow: 1
      flex-wrap: wrap
      display: none
      justify-content: flex-end


      .header-user__authorized-buttons
        width: 100%
        position: relative
        .header-user__button-user
          margin: 0
          padding: 0 50px
          width: 100%
          max-width: 299px
          height: 45px
          border: 0
          outline: none
          background-color: #FFFFFF
          font-family: "Cuprum"
          font-size: 21px
          line-height: 21px
          cursor: pointer
          position: relative
          &:active
            color: var(--basic-greylight)

          &::before
            +img-before
            background-image: url(../img/header/icon-user.svg)
            top: 13px
            left: 15px
            width: 20px
            height: 18px
          &:focus::before,
          &:hover::before
            background-image: url(../img/header/icon-user-hover.svg)
          &:active::before
            background-image: url(../img/header/icon-user.svg)

        .header-user__button-logout
          +img-before
          background-image: url(../img/header/icon-logout.svg)
          top: 14px
          right: 17px
          width: 20px
          height: 17px
          border: none
          outline: none
          cursor: pointer
          &:focus,
          &:hover
            background-image: url(../img/header/icon-logout-hover.svg)

          &:active
            background-image: url(../img/header/icon-logout.svg)

      .header-user__bot
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 7px
        margin-bottom: -7px
        padding: 0 35px
        a
          display: inline-block
          color: var(--basic-grey)
          line-height: 18px
          &:focus,
          &:hover
            color: var(--basic-red)
          &:active
            color: var(--basic-greylight)

        .header-user__dot
          margin: 0
          display: inline-block
          content: ""
          background-color: var(--basic-grey)
          border-radius: 50%
          width: 4px
          height: 4px

    .header-user_login-status
      display: flex

// Header navigation
.header-nav
  padding: 0
  min-height: 60px
  background-color: var(--basic-grey)
  width: 100%
  max-width: 940px

  .header-nav__list
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    background-color: var(--basic-grey)
    width: 100%
    height: 100%

    .header-nav__item
      height: 100%
      flex-grow: 1
      box-shadow: inset 0px -5px 0px var(--backgrond-dark)
      &:first-child
        .header-nav__link
          padding-left: 34px
      &:last-child
        .header-nav__link
          padding-right: 29px

      .header-nav__link
        display: block
        text-align: center
        padding: 0 10px
        width: 100%
        height: 60px
        line-height: 58px
        font-size: 18px
        color: var(--white)
        &:focus,
        &:hover
          background-color: var(--backgrond-dark)
        &:active
          background-color: #1D2739
          color: rgba(255, 255, 255, 0.5)
          box-shadow: inset 0px -5px 0px var(--backgrond-dark)

// Main
// Label "new" for cards
.label-new
  align-self: flex-end
  margin: 0
  padding: 0
  position: absolute
  top: 0px
  right: 0px

// Promo
.promo
  margin-top: 59px
  min-height: 409px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-row-gap: 20px
  grid-column-gap: 20px
  color: var(--white)

  // Promo cards
  .promo-card
    width: 100%
    max-width: 300px
    min-height: 123px
    position: relative
    .promo-card__heading
      margin: 0
      margin-top: 20px
      margin-left: 23px
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px

    .promo-card__link
      display: block
      margin: 0
      margin-top: 14px
      margin-left: 23px
      padding: 10px
      text-align: center
      width: 135px
      height: 38px
      font-size: 14px
      line-height: 18px
      font-style: normal
      text-transform: uppercase
      color: var(--white)
      background-color: rgba(255, 255, 255, 0.3)
      &:hover,
      &:focus
        background-color: rgba(197, 197, 197, 0.3)

      &:active
        background-color: rgba(169, 169, 169, 0.3)

  .promo__materials
    background-color: #FFBF47
    &::before
      +img-card (65px, 44px, 31px, 213px)
      background-image: url(../img/promo/1-materials.svg)

  .promo__tool
    background-color: #3BBCE3
    &::before
      +img-card (61px, 75px, 34px, 194px)
      background-image: url(../img/promo/2-tool.svg)

  .promo__technics
    background-color: #DC91D8
    &::before
      +img-card (62px, 78px, 31px, 191px)
      background-image: url(../img/promo/3-technics.svg)

  .promo__discounts
    background-color: #8ED78F
    &::before
      +img-card (72px, 59px, 26px, 196px)
      background-image: url(../img/promo/4-discounts.svg)

  .promo__delivery
    background-color: #FFC047
    &::before
      +img-card (63px, 78px, 32px, 191px)
      background-image: url(../img/promo/5-delivery.svg)

  // Promo slider
  .promo__slider
    grid-column: 1 / 3
    grid-row: 2 / 4

.slider
  max-width: 620px
  height: 266px
  position: relative
  .slider__list
    padding: 0
    margin: 0
    overflow: hidden
    .slider__slide
      width: 100%
      max-width: 620px
      height: 266px
      position: relative
      display: none
      &::before
        +img-before
        background-position: center
        top: 0
        left: 0
        z-index: -1
        width: 100%
        max-width: 620px
        height: 266px
      .slider__top
        width: 100%
        max-width: 620px
        height: 104px
        background-color: rgba(0, 0, 0, 0.25)
        .slider__heading
          margin: 0
          padding-top: 23px
          padding-left: 24px
          font-weight: bold
          font-size: 36px
          line-height: 36px
          text-transform: uppercase

        .slider__text
          margin-top: 5px
          margin-left: 24px
          font-size: 18px
          line-height: 24px

      .slider__link
        position: absolute
        left: 24px
        bottom: 27px

    .slider__slide_absolute
      position: absolute
      left: 0
      top: 0
      z-index: -1
    // Slides
    .slider__slide_1,
    .slider__slide_2
      &::before
        background-image: url(../img/promo/slider-punchers.jpg)

    .slider__slide_2
      &::before
        background-image: url(../img/promo/slider-drill.jpg)

    .slider__slide_active
      display: block

  .slider__buttons
    .slider__button
      z-index: 2
      position: absolute
      background-image: url(../img/promo/icon-next-slide.svg)
      width: 22px
      height: 40px
      top: 122px
      background-color: transparent
      border: none
      cursor: pointer
      &:focus,
      &:hover,
      &:active
        outline: none

    .slider__button_left
      left: 24px

    .slider__button_right
      transform: scaleX(-1)
      right: 20px

  .slider__bullets
    z-index: 2
    position: absolute
    bottom: 36px
    left: calc(50% - 15px)
    min-width: 36px
    height: 10px
    display: flex
    justify-content: space-between
    .slider__bullet
      box-sizing: content-box
      margin: 0 2px
      width: 6px
      height: 6px
      background-color: #FFFFFF
      border: 2px solid #FFFFFF
      border-radius: 50%
    .slider__bullet_active
      background-color: var(--basic-red, #EE3643)

.slide-show_prev,
.slide-show_next
  animation-name: slide-show_prev
  animation-duration: 1.2s
  z-index: 1

.slide-show_next
  animation-name: slide-show_next

// For "popular goods" and "popular makers" blocks
.block-head
  min-height: 89px
  background-color: var(--basic-heading)
  position: relative

.block-heading
  text-transform: uppercase
  padding-top: 29px
  padding-left: 28px
  font-size: 30px
  font-weight: normal
  line-height: 30px
  text-transform: uppercase
  color: var(--basic-grey)

.block-link
  position: absolute
  min-width: 192px
  top: 25px
  right: 19px

// Popular goods
.popular-goods
  .popular-goods__head
    margin-top: 59px
    .popular-goods__heading
    .popular-goods__link

  .popular-goods__list
  margin-top: 20px !important

.goods-list
  margin: 20px 0
  padding: 0
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 20px
  .goods-list__item
    width: 100%
    max-width: 220px
    min-height: 318px
    border: 1px solid #EAEAEA
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap
    position: relative
    font-family: "PT Sans"
    font-style: normal
    color: #000000
    &:focus,
    &:hover
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)

    &:focus,
    &:hover
      .goods-list__picture
        display: none

    &:focus,
    &:hover
      .goods-list__buttons
        display: block

    .goods-list__picture
      margin-top: 6px
      min-height: 164px
      display: flex
      align-items: center
      justify-content: center

    .goods-list__heading
      margin: 0
      margin-top: 8px
      font-style: normal
      font-weight: bold
      text-align: center
      font-size: 18px
      line-height: 21px
      padding: 0 15px

    .goods-list__old-price
      margin: 0
      position: absolute
      bottom: 72.5px
      text-align: center
      font-weight: bold
      font-size: 17px
      line-height: 18px
      color: #A9A9A9

    .goods-list__price
      margin: 38px 0 20px 10px
      padding: 9px 11px 0 0
      content: ""
      background-image: url(../img/product-cards/red-button.svg)
      width: 141px
      height: 38px
      text-align: center
      line-height: 18px
      font-size: 17px
      font-weight: bold
      color: var(--white)

    .goods-list__buttons
      display: none
      margin: 0
      padding: 0
      text-align: center
      .goods-list__button
          margin-bottom: 47px
          margin-left: -3px
          width: 100%
          max-width: 135px
          height: 38px
          border-radius: 2px
          border: 3px solid var(--basic-green)
          background-color: transparent
          font-family: "Cuprum"
          font-size: 14px
          text-transform: uppercase
          color: var(--basic-grey)
          cursor: pointer
          outline: none

      .goods-list__buy
        margin-bottom: 10px
        padding-left: 20px
        border: none
        box-shadow: inset 0px -3px 0px #367315
        background-color: var(--basic-green, #63A63E)
        color: #FFFFFF
        position: relative
        &::before
          +img-card (15px, 15px, 10px, 29px)
          background-image: url(../img/header/icon-cart.svg)
          opacity: 0.3

        &:hover,
        &:focus
          background-color: #5FBB2D

        &:active
          background-color: #518534

      .goods-list__bookmark
        &:hover,
        &:focus
          border-color: var(--basic-grey)

        &:active
          opacity: 0.5

// Popular makers
.popular-makers
  .popular-makers__head
    margin-top: 70px
    .popular-makers__heading
    .popular-makers__link

  .popular-makers__list
    margin: 0
    padding: 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-column-gap: 20px
    .popular-makers__item
      margin-top: 20px
      border: 1px solid #EAEAEA
      height: 145px
      width: 100%
      max-width: 220px
      &:hover,
      &:focus
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)

      &:active
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
        opacity: 0.5
      .popular-makers__link
        display: block
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center

        .popular-makers__img

// Services
.services-back
  background-color: var(--backgrond-light)
  margin-top: 70px

.services
  min-height: 522px
  .services__heading
    margin: 0
    padding-top: 64px
    font-weight: normal
    font-size: 30px
    line-height: 30px
    text-transform: uppercase

  .services__paragraph
    margin: 0
    padding-top: 25px
    font-family: "PT Sans"
    font-size: 13px
    line-height: 25px

.services-slider
  display: flex
  justify-content: space-between
  position: relative
  .services-slider__buttons
    margin: 0
    margin-top: 21px
    padding: 0
    padding-top: 49px
    width: 100%
    max-width: 240px
    position: relative
    &::before
      +img-before
      background-image: url(../img/services/shadow.png)
      top: 0
      right: 0
      width: 10px
      height: 279px
    .services-slider__button
      height: 62px
      width: 100%
      max-width: 240px
      text-align: left
      padding-left: 22px
      font-weight: bold
      font-size: 21px
      color: #FFF
      cursor: pointer
      background-color: var(--basic-grey)
      box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069
      outline: 0
      border: 0
      &:focus,
      &:hover
        outline: 0
        background-color: var(--backgrond-dark)

    .services-slider__button_active,
    .services-slider__button_active:hover,
    .services-slider__button_active:focus
      color: var(--basic-grey)
      background-color: #FFF
      box-shadow: 0px 1px 0px #FFF
      cursor: default

  .services-slider__descriptions
    margin-top: 49px
    margin-left: 80px
    width: 100%
    .services-slider__description
      display: none
      width: 100%
      max-width: 650px
      min-height: 285px
      position: relative
      z-index: 0
      &::before
        +img-before
        background-repeat: no-repeat
        z-index: -1
        top: 0
        right: 0

      .services-slider__heading
        margin-top: 20px
        font-weight: normal
        font-size: 30px
        line-height: 30px
        text-transform: uppercase
        color: var(--basic-grey)

      .services-slider__paragraph
        margin-top: 30px
        padding-top: 25px
        padding: 0
        font-family: "PT Sans"
        font-size: 13px
        line-height: 25px

    .services-slider__description_delivery
      &::before
        background-image: url(../img/services/delivery.png)
        width: 466px
        height: 261px
        top: 22px

    .services-slider__description_warranty
      &::before
        background-image: url(../img/services/warranty.png)
        width: 389px
        height: 283px

    .services-slider__description_credit
      &::before
        background-image: url(../img/services/credit.png)
        width: 100%
        max-width: 465px
        height: 285px

      .services-slider__credit-button
        margin-top: 26.5px
        display: block
        background-color: #FF5357
        width: 100%
        max-width: 195px
        border-radius: 2px
        text-transform: uppercase

    .services-slider__description_active
      display: block

// About company and contacts block
.about-contacts
  margin-top: 69px
  margin-bottom: 68px
  min-height: 356px
  display: flex
  justify-content: space-between
  .about-contacts__heading
    margin: 0
    font-weight: normal
    font-size: 30px
    line-height: 30px
    text-transform: uppercase

  .about-contacts__paragraph
    margin: 0
    margin-top: 23px
    font-family: "PT Sans"
    font-size: 13px
    line-height: 24px

  .about-contacts__about
    .about-contacts__list
      margin: 0
      padding: 0
      .about-contacts__item
        margin-bottom: 12px
        height: 24px
        padding-left: 37px
        font-size: 18px
        line-height: 24px
        position: relative
        &::before
          content: ""
          background-color: var(--basic-red, #EE3643)
          width: 25px
          height: 2px
          top: 12px
          left: 0px
          position: absolute

    .about-contacts__link
      display: block
      margin-top: 20px
      width: 100%
      max-width: 220px

  .about-contacts__contacts
    width: 100%
    max-width: 300px
    min-height: 301px
    .about-contacts__map-img
      margin-top: 34px
      width: 100%
      max-width: 300px
      height: 158px
      .about-contacts__img-button
        padding: 0
        width: 100%
        height: 100%
        cursor: pointer
        outline: none
        border: none

    .about-contacts__write-button
      margin-top: 27px
      padding: 0
      border: none
      outline: none
      max-width: 300px
      cursor: pointer

// Footer
// Footer top
.footer-top-back
  background-color: var(--basic-grey)

.footer-top
  display: flex
  justify-content: space-between
  min-height: 193px
  .footer-top__right-side
    .footer-top__address
      .footer-top__paragraph
        margin-top: 17px
        padding-left: 2px
        color: #F3F7F9
        font-style: normal
        font-size: 18px
        line-height: 25px

  .footer-top__nav
    .footer-top__list
      padding: 0
      margin-top: 37px
      margin-bottom: 0
      width: 100%
      max-width: 549px
      min-height: 117px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      column-gap: 58px
      .footer-top__item
        .footer-top__link,
        .footer-top__link_yellow
          font-size: 18px
          line-height: 24px
          color: var(--backgrond-light)
          &:focus,
          &:hover
            text-decoration: underline
          &:active
            text-decoration: none
            opacity: 0.5

        .footer-top__link_yellow
          color: #FFD180

.footer-bot-back
  background-color: var(--backgrond-dark)

// Footer bot
.footer-bot
  padding-top: 2px
  padding-right: 23px
  min-height: 107px
  display: flex
  justify-content: flex-end
  align-items: center
  color: var(--white)
  font-size: 16px
  line-height: 19px
  .footer-bot__license
    padding-top: 2px
    margin-right: auto

  .footer-bot__social
    margin-right: 116px
    .footer-bot__list
      display: flex
      flex-wrap: wrap
      margin: 0
      margin-top: 4px
      padding: 0
      max-width: 240px
      .footer-bot__item
        margin: 1px
        width: 44px
        height: 44px
        .footer-bot__icon
          &:focus,
          &:hover
            .footer-bot__svg
              .footer-bot__svg-back
                fill: var(--basic-red)

  .footer-bot__feedback
    margin-right: 52px
  .footer-bot__developed
  .footer-bot__link
    color: #FFD180
    &:focus,
    &:hover
      text-decoration: underline

    &:active
      color: var(--basic-red)
      text-decoration: none

// Catalog
// Main
// Breadcrumbs
.breadcrumbs
  margin-top: 21px
  text-transform: uppercase
  .breadcrumbs__list
    display: flex
    padding: 0
    margin: 0
    .breadcrumbs__item
      display: inline-block
      &:not(&:first-child)
        padding-left: 40px
        position: relative
        &::before
          +img-before
          background-image: url(../img/catalog/shape.svg)
          width: 8px
          height: 12px
          top: 3px
          left: 17px

    .breadcrumbs__item,
    .breadcrumbs__item .breadcrumbs__link
      position: relative
      font-family: "PT Sans"
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 18px
      position: relative
      color: #000
      &:first-child
        width: 14px
        height: 12px
        .breadcrumbs__link
          content: ""
          background-image: url(../img/catalog/icon-home.svg)
          width: 14px
          height: 12px
          position: absolute
          top: 3px
          left: 0
// Heading
.catalog-heading
  margin: 20px 0 0 0
  height: 89px
  background-color: #F2F6F8

// Catalog main
.catalog
  margin-top: 20px
  display: grid
  grid-template-columns: min-content 1fr
  grid-column-gap: 20px
  .catalog__filter
    width: 220px


// Filter
.filter
  font-family: "PT Sans"
  // Heading
  .filter__heading
    margin: 0
    margin-bottom: 13px
    padding-left: 18px
    font-weight: normal
    font-size: 13px
    line-height: 36px
    height: 38px
    border-radius: 2px
    background-color: var(--filter-background)
    text-transform: uppercase

  // Form
  .filter__form
    .filter__fieldset
      margin: 0
      padding: 0
      border: none
      .filter__legend
        margin-bottom: 13px
        padding: 0
        font-weight: bold
        font-size: 17px
        line-height: 30px

      // Filter price (top-side)
      .filter__range
        min-height: 127px
        .filter__range-controls
          padding: 39px 20px 0 20px
          height: 80px
          background-color: var(--filter-background, #F7F3EC)
          border-radius: 2px
          .filter__scale
            width: 180px
            height: 2px
            padding: 0
            background-color: #D7DCDE
            position: relative
            .filter__bar
              width: 84%
              height: 2px
              background-color: #00ca74

            .filter__toggle
              box-sizing: content-box
              padding: 0
              position: absolute
              top: -10px
              left: 0
              width: 4px
              height: 4px
              background-color: #ABABAB
              border: 8px solid #FFF
              border-radius: 50%
              box-shadow: 0px 2px rgba(171, 171, 171, 0.3)
              cursor: pointer

            .filter__toggle_min
              left: calc(0% - 10px)
            .filter__toggle_max
              left: calc(100% - 10px)

        .filter__price-controls
          box-sizing: content-box
          margin: 9px 0 15px 0
          padding-bottom: 24px
          border-bottom: 1px solid #D7DCDE
          display: flex
          justify-content: space-between
          align-items: center
          height: 38px
          .filter__price
            padding: 0 0 2px 15px
            width: 80px
            height: 38px
            border: none
            border-radius: 2px
            background-color: var(--filter-background)
            text-align: center
            font-size: 17px
            line-height: 18px

      label
        text-transform: uppercase
        font-size: 15px
        line-height: 19px

      legend
        text-transform: uppercase

      // Filter list (makers and power)
      .filter__list
        margin: 0
        padding: 0
        padding-top: 0

      .filter__list_makers
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 1px solid #D7DCDE
        .filter__legend
          margin-bottom: 18px
        .filter__item
          margin-bottom: 20px
          .filter__maker
            padding-left: 35px
            display: block
            position: relative
            cursor: pointer

          .filter__checkbox + .filter__maker::before
            +img-before
            top: -2px
            left: 0
            width: 23px
            height: 23px
            border: 2px solid var(--basic-greylight, #C5C5C5)
            border-radius: 3px

          .filter__checkbox:checked + .filter__maker::after
            +img-before
            top: -2px
            left: 0
            width: 27px
            height: 23px
            background-color: #FFF
            background-image: url(../img/catalog/checkbox-on.svg)

          .filter__checkbox:checked:focus + .filter__maker::after,
          .filter__checkbox:checked:hover + .filter__maker::after
            background-image: url(../img/catalog/checkbox-on-hover.svg)

          .filter__checkbox:focus + .filter__maker::before,
          .filter__checkbox:hover + .filter__maker::before
            border-color: #B5B5B5

          .filter__checkbox[disabled]:hover + .filter__maker,
          .filter__checkbox[disabled]:checked:hover + .filter__maker
            cursor: default

          .filter__checkbox[disabled]:checked + .filter__maker::after
            background-image: url(../img/catalog/checkbox-on-disabled.svg)
            cursor: default

          .filter__checkbox[disabled] + .filter__maker::before,
          .filter__checkbox[disabled]:focus + .filter__maker::before,
          .filter__checkbox[disabled]:hover + .filter__maker::before
            opacity: 0.3
            cursor: default
            border-color: #C5C5C5

      .filter__list_power
        padding-top: 11px
        .filter__item
          margin-bottom: 20px
          .filter__input
            display: none

          .filter__input + .filter__power::before
            +img-before
            top: -2px
            left: 0
            width: 25px
            height: 25px
            border: 4px solid #C5C5C5
            border-radius: 50%
            background-color: transparent

          .filter__input:checked + .filter__power::after
            +img-before
            top: 6px
            left: 8px
            width: 9px
            height: 9px
            border-radius: 50%
            background-color: #C5C5C5

          .filter__input:focus + .filter__power::before,
          .filter__input:hover + .filter__power::before
            border-color: #B5B5B5

          .filter__input[disabled] + .filter__power::before,
          .filter__input[disabled]:focus + .filter__power::before,
          .filter__input[disabled]:hover + .filter__power::before
            opacity: 0.3
            cursor: default
            border-color: #C5C5C5

          .filter__input[disabled]:checked + .filter__power::after,
          .filter__input[disabled]:checked:focus + .filter__power::after,
          .filter__input[disabled]:checked:hover + .filter__power::after
            opacity: 0.3
            cursor: default
            background-color: #C5C5C5

          .filter__input[disabled] + .filter__power,
          .filter__input[disabled]:checked + .filter__power
            cursor: default

          .filter__power
            padding-left: 35px
            display: block
            cursor: pointer
            position: relative

  .filter__show
    margin-top: 21px
    margin-bottom: 20px
    width: 220px
    height: 38px
    border: 1px solid #E5E5E5
    text-align: center
    background-color: transparent
    font-size: 13px
    line-height: 18px
    cursor: pointer
    &:hover,
    &:active
      outline: none

// Catalog
.catalog__goods
  width: 100%
  max-width: 700px

.catalog__sort
  background-color: red
.sort
  min-height: 38px
  background-color: var(--filter-background)
  border-radius: 2px
  display: flex
  font-family: "PT Sans"
  font-size: 13px
  line-height: 18px
  text-transform: uppercase
  .sort__heading
    margin: 0
    padding: 10px 0 0 19px
    font-weight: normal
    font-size: 13px
    line-height: 18px

  .sort__form
    margin-left: 20%
    margin-right: 17px
    width: 100%
    display: flex
    justify-content: space-between
    .sort__list
      display: flex
      margin: 0
      padding: 0
      width: 100%
      max-width: 354px
      align-items: center
      justify-content: space-between
      .sort__item
        .sort__label
          display: block
          cursor: pointer
          margin-top: 1.5px
          padding: 0
          color: rgba(0, 0, 0, 0.3)
          border: none
          outline: none
          background-color: transparent
          border-bottom: 1px dotted var(--basic-red)
          &:focus,
          &:hover
            color: #000
            border-bottom: 1px solid var(--basic-red)

          .sort__input
            display: none

        .sort__label_active
          margin-top: 0
          cursor: default
          color: var(--basic-red)
          border: none
          &:focus,
          &:hover
            border: none
            color: var(--basic-red)


    .sort__dir
      margin: 0
      padding: 0
      width: 43px
      display: flex
      justify-content: space-between
      .sort__item
        .sort__icon-dir
          margin: 0
          margin-top: 13px
          padding: 0
          outline: none
          border: none
          background-color: transparent
          .sort__svg
            cursor: pointer

          .sort__svg:focus .sort__svg-path,
          .sort__svg:hover .sort__svg-path
            fill: #000

        .sort__icon-dir_down
          .sort__svg
            transform: rotate(180deg)

        .sort__icon-dir_active
          .sort__svg
            cursor: default
            .sort__svg-path
              fill: var(--basic-red)

        .sort__icon-dir_active .sort__svg:focus .sort__svg-path,
        .sort__icon-dir_active .sort__svg:hover .sort__svg-path
          fill: var(--basic-red)

// Catalog cards
.catalog__cards
  margin-top: 28px
  grid-template-columns: 1fr 1fr 1fr

// Pagination
.pagination
  margin: 0
  margin-top: 48px
  padding: 0
  width: 100%
  height: 38px
  display: flex
  flex-wrap: wrap
  .pagination__item
    margin: 0 10px 10px 0
    padding: 0
    min-width: 38px
    height: 38px
    border: 1px solid #E5E5E5
    border-radius: 2px
    text-align: center
    &:focus,
    &:hover
      border-color: #C5C5C5
    &:active
      border-color: #EE3643

    .pagination__link
      display: block
      color: #000
      font-family: "PT Sans"
      font-size: 13px
      line-height: 35px

  .pagination__item_next
    width: 100%
    max-width: 140px

  .pagination__item_active
    border: 1px solid var(--basic-red)
    background-color: var(--basic-red)
    &:focus,
    &:hover
      border-color: var(--basic-red)

    .pagination__link
      color: #FFF
      cursor: default

.about-punchers-back
  margin-top: 59px
  min-height: 261px
  width: 100%
  background-color: var(--backgrond-light)
.about-punchers
  .about-punchers__heading
    margin: 0
    padding-top: 64px
    font-weight: normal
    font-size: 30px
    line-height: 30px
    text-transform: uppercase

  .about-punchers__paragraph
    margin: 0
    padding-top: 23px
    padding-bottom: 10px
    font-family: "PT Sans"
    font-size: 13px
    line-height: 25px

.go-top
  display: none
  position: fixed
  right: 50px
  bottom: 50px
  width: 50px
  height: 50px
  border: 1px solid rgba(197, 197, 197, 0.7)
  border-radius: 50%
  background-color: transparent
  cursor: pointer
  z-index: 1
  &::before,
  &::after
    content: ""
    position: absolute
    top: 23px
    right: 45%
    width: 20px
    height: 3px
    transform: rotate(-30deg)
    background-color: var(--basic-red)
    border-radius: 2px
  &::after
    left: 45%
    transform: rotate(30deg)
  &:hover
    border: 1px solid rgba(197, 197, 197, 1)
    background-color: rgba(197, 197, 197, 0.2)
    outline: none
    &::before,
    &::after
      animation-name: go-top
      animation-duration: 1.5s
  &:focus
    outline: none

.go-top_active
  display: block

// Modals
.modals
  display: none
  position: fixed
  margin: 0 auto
  left: 0
  right: 0
  bottom: auto
  width: 100%
  max-width: 620px
  border-top: 7px solid #FF5357
  background-color: #FFF
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15))
  animation-name: bounce
  animation-duration: 0.9s
  .modals__close
    margin: 0
    padding: 0
    outline: 0
    border: 0
    position: absolute
    top: 14px
    right: 11px
    cursor: pointer
    width: 21px
    height: 21px
    background-color: transparent
    &::after,
    &::before
      +img-before
      background-color: var(--basic-red)
      top: 8.5px
      left: -3px
      height: 4px
      width: 27px
      border-radius: 1px

    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)

  .modals__close:focus::before,
  .modals__close:focus::after,
  .modals__close:hover::before,
  .modals__close:hover::after
    background-color: var(--dark-red)

  .modals__bot
    margin: 0
    margin-top: 31px
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 112px
    background-color: #F4F4F4

.write-us
  top: calc(50% - 215px)
  height: 430px

.write-us__form
  min-height: 260px
  .write-us__main
    margin: 0 auto
    max-width: 460px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .write-us__field
      margin: 0
      margin-top: 39px
      .write-us__label
        font-size: 18px
        line-height: 24px
        .write-us__input
          margin-top: 11px
          padding: 0 10px
          width: 220px
          height: 38px
          border: 2px solid #C5C5C5
          border-radius: 2px
          font-size: 13px
          line-height: 24px
          &::placeholder
            font-family: "PT Sans"
            color: #A9A9A9
        .write-us__input_error
          border: 2px solid var(--basic-red)
          outline: none

    .write-us__field_text
      margin-top: 13px
      .write-us__label
        .write-us__input_text
          padding-top: 4px
          width: 460px
          height: 114px
          line-height: 24px
          resize: none

  .write-us__send
    padding: 11px 0
    border: none
    outline: none
    max-width: 460px
    cursor: pointer

.modal-map
  max-width: 943px
  height: 450px
  background-image: url(../img/map.jpg)
  top: calc(50% - 225px)
  .modal-map__iframe
    border: none

.modal-cart
  flex-direction: column
  justify-content: space-between
  height: 282px
  top: calc(50% - 141px)
  .modal-cart__paragraph
    margin-top: 67px
    font-weight: bold
    font-size: 24px
    line-height: 30px
    text-align: center
    position: relative
    &::before
      +img-before
      background-image: url(../img/icon-mark.svg)
      padding-right: 1px
      width: 66px
      height: 66px
      top: -18px
      left: 81px

  .modal-cart__bottons
    .modal-cart__botton
      border: none
      outline: none
      padding: 11px 0
      line-height: 18px
      cursor: pointer

    .modal-cart__botton_white
      margin-left: 10px
      background-color: #FFF
      color: #000
      &:hover,
      &:focus
        background-color: #FFF
        color: var(--basic-red)
      &:focus
        opacity: 0.5

.modals_error
  animation-name: shake
  animation-duration: 1s

.modals_active
  display: block
.modal-cart_active
  display: flex

@import "media.sass"
